.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.navbar {
  background-color: transparent;
}

.nav-link {
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav-menu {
  display: block;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section {
  height: 30px;
  background-color: #149964;
}

.section-2 {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-item {
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-item.w--current {
  color: #000;
}

.nav-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-2 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.container-3 {
  display: block;
  height: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.text-block {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.link {
  margin-right: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.h-info {
  font-size: 44px;
  line-height: 65px;
  font-weight: 700;
  text-align: center;
}

.div-block {
  display: block;
  margin-top: 40px;
  margin-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h-desc {
  text-align: center;
  text-transform: uppercase;
}

.grid-2 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.container-4 {
  padding-top: 80px;
  padding-bottom: 40px;
}

.text-block-2 {
  margin-top: 40px;
  margin-bottom: 60px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 26px;
  line-height: 32px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

.heading {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 36px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

.button {
  position: relative;
  display: inline-block;
  min-width: 200px;
  float: none;
  clear: none;
  border-radius: 4px;
  background-color: #149964;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.section-3 {
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 153, 100, 0.8)), to(rgba(20, 153, 100, 0.8))), url('../images/especial.png');
  background-image: linear-gradient(180deg, rgba(20, 153, 100, 0.8), rgba(20, 153, 100, 0.8)), url('../images/especial.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.section-3.home {
  background-image: none;
}

.heading-2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  text-align: right;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

.div-block-2 {
  text-align: right;
}

.div-block-3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  line-height: 34px;
}

.image {
  float: right;
}

.text-block-3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}

.youtube {
  display: block;
  width: 500px;
  height: 100px;
  margin-left: 60px;
  float: right;
}

.section-4 {
  padding-top: 40px;
  padding-bottom: 60px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.section-4.contacto {
  padding-top: 60px;
}

.grid-3 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-4 {
  padding-right: 60px;
  padding-left: 0px;
}

.section-5 {
  margin-top: 0px;
  padding-top: 60px;
  padding-bottom: 80px;
}

.section-6 {
  border-bottom: 1px solid #eee;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.11);
}

.image-2 {
  margin-right: 0px;
  float: left;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.image-2.right {
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 0px 4px 4px 0px;
}

.heading-4 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}

.bold-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.text-block-4 {
  margin-bottom: 20px;
  text-align: left;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: #fafafa;
}

.div-block-6 {
  margin-right: 40px;
  margin-left: 40px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.text-block-5 {
  text-align: left;
}

.section-7 {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #333;
}

.grid-4 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading-5 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.text-block-6 {
  color: #fff;
}

.container-5 {
  margin-top: 50px;
  text-align: center;
}

.image-3 {
  margin-left: 20px;
}

.image-4 {
  margin-left: 20px;
}

.image-5 {
  margin-left: 20px;
}

.image-6 {
  margin-left: 15px;
}

.html-embed {
  width: auto;
  padding-top: 60px;
}

.grid-5 {
  grid-column-gap: 39px;
  -ms-grid-columns: 1fr 2.5fr;
  grid-template-columns: 1fr 2.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-5.contacto-grid {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.grid-5.empleo {
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
}

.container-6 {
  margin-top: 20px;
}

.heading-6 {
  margin-bottom: 0px;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  color: #149964;
}

.heading-7 {
  margin-top: 0px;
  color: #333;
}

.heading-8 {
  margin-top: 30px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
}

.heading-9 {
  margin-top: 0px;
}

.div-block-7 {
  display: block;
  width: 50%;
  height: 30px;
  float: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-8 {
  float: right;
}

.background-video {
  background-color: rgba(0, 0, 0, 0.3);
}

.div-block-9 {
  width: 50%;
  height: 30px;
  float: right;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.lang {
  margin-left: 10px;
}

.field {
  border-radius: 3px;
}

.title-field {
  color: #149964;
}

.grid-6 {
  margin-bottom: 20px;
}

.textarea {
  margin-bottom: 30px;
}

.div-block-12 {
  text-align: center;
}

.textarea-2 {
  margin-bottom: 40px;
}

.div-block-13 {
  height: 900px;
}

.background-video-2 {
  height: 840px;
}

#w-node-_45640135-d816-ab1d-667c-efa18dc3eb54-2a8bad44 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_506840fc-53b7-09b8-7569-8969798d741a-2a8bad44 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_32aac6d1-c914-aca6-2f2e-b1d658d18c8a-2a8bad44 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1c6808c4-13f0-f11d-71b5-454324484c7f-2a8bad44 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f944f8d6-ac6c-a13e-dc58-3b1d590e25d5-2a8bad44 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_55b638cb-4ec2-fb04-c349-b9c38daa4d6a-2a8bad44 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a2dc761d-31e4-cf01-1a36-f0b63d17aeb3-2a8bad44 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a2dc761d-31e4-cf01-1a36-f0b63d17aeb6-2a8bad44 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_916068a9-80e5-f3a2-441c-d60a142a366f-2a8bad44 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_916068a9-80e5-f3a2-441c-d60a142a3672-2a8bad44 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1ecb1a12-1734-6019-0fbd-01ab78ae42a9-2a8bad44 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1ecb1a12-1734-6019-0fbd-01ab78ae42ac-2a8bad44 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b8f861bd-a71f-6c3f-80f0-3a73afa59abd-2a8bad44 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d80ccc93-f294-0ea1-3528-e7cce415587b-2a8bad44 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-aa495ec5-6dfe-d163-7678-1dcc38f71c42-2a8bad44 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_66e7b091-1d5a-ac11-6d9c-b985063a4df2-2a8bad44 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0f01ee8e-fe5d-1398-eba2-f836185dcc91-2a8bad44 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_52b844b1-9a2a-1158-3c22-adeb0f69dcb9-2a8bad44 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_05353a59-c4e0-c034-996f-c33da26f7d6a-2a8bad44 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d0ee230a-2af5-64ca-3a36-a047a0428df1-2a8bad44 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_45640135-d816-ab1d-667c-efa18dc3eb54-4bb504de {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_506840fc-53b7-09b8-7569-8969798d741a-4bb504de {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_32aac6d1-c914-aca6-2f2e-b1d658d18c8a-4bb504de {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b8f861bd-a71f-6c3f-80f0-3a73afa59abd-4bb504de {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_60d03291-da1c-6810-db58-d603b2e9d3ed-4bb504de {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_63f073b1-6e99-fefc-1668-45c200ff8d19-4bb504de {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-fc5d5744-16ec-1f0a-4987-1259fffc71d6-4bb504de {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_600b304b-7f43-f9e7-3046-ff32cc502b72-4bb504de {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0f01ee8e-fe5d-1398-eba2-f836185dcc91-4bb504de {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_52b844b1-9a2a-1158-3c22-adeb0f69dcb9-4bb504de {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_05353a59-c4e0-c034-996f-c33da26f7d6a-4bb504de {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d0ee230a-2af5-64ca-3a36-a047a0428df1-4bb504de {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b8f861bd-a71f-6c3f-80f0-3a73afa59abd-6b8e5443 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d16c6b8f-dfd4-f257-6695-02d64d778bc4-6b8e5443 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3ab04172-63dc-5ba7-026d-eb86e1acfcf8-6b8e5443 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5bf77554-d399-5fa7-7929-352a908eff51-6b8e5443 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_129caf1e-da0b-8248-bef3-a10fc70029c2-6b8e5443 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f1932420-82ca-db12-f10c-5fe35a4ca672-6b8e5443 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e32e44f0-b7ac-183b-482d-ac539901e712-6b8e5443 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_483d1dda-a14d-5eaf-519b-747fad9e9de1-6b8e5443 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0f01ee8e-fe5d-1398-eba2-f836185dcc91-6b8e5443 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_52b844b1-9a2a-1158-3c22-adeb0f69dcb9-6b8e5443 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_05353a59-c4e0-c034-996f-c33da26f7d6a-6b8e5443 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d0ee230a-2af5-64ca-3a36-a047a0428df1-6b8e5443 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}